body {
  background-color: white;
  font-family: sans-serif;
}

h5 {
	margin-block:0.8em
}

table.calendar {
  border-collapse: collapse;
}

table.calendar tbody {
  font-size: 0.8em;
}

table.calendar tr.nomeMes {
  border-top: 2px solid darkgray;
}

table.calendar td {
  text-align: center;
  border: 1px solid lightgray;
  min-width: 15px;
}

table.calendar td.tdcor {
  text-align: center;
  padding: 0px;
}

table.calendar td.hoje {
	background: radial-gradient(circle closest-side, yellow, #f06d06);

}
table.calendar td.normal {
	background-color: white;
}
table.calendar td.weekend {
	background-color: lightgray;
}

table.calendar td.dayoff {
  text-shadow: 1px 1px 5px rgba(255,255,255,0.5);
  background-image: url("../img/coqueiro_claro.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

table.calendar td.month-name {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  cursor: default;
  text-shadow: 0px 0px 5px rgba(255,255,255,0.5);
  background-color: darkgray;
}

.aAno {
  font-size: 0.8em;
}

table.tbDados {
  font-size:14px;
  border-collapse: collapse;
}

table.tbDados thead {
  background-color: #5A5A5A;
  color: white;
  margin-bottom: 3px;
}

table.tbDados thead th {
  font-weight: normal;
  padding: 5px 5px;
}

table.tbDados tbody {
  font-size: 0.8em;
}

table.tbDados td {
  text-align: center;
  padding: 5px;
  min-width: 15px;
  border: 1px solid lightgray;
}

td.tbColHead {
	background-color:#000;
	color: #FFF;
	font-weight: bold;
}

img.avatar_sm {
	height:10px;
}

img.avatar_md {
	height:20px;
}

.hoverTD {
  font-weight: bold;
}

